In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [22]:
df = pd.read_csv('Mixed_Beverage_Gross_Receipts.csv')

In [23]:
df.columns

Index(['Taxpayer Number', 'Taxpayer Name', 'Taxpayer Address', 'Taxpayer City',
       'Taxpayer State', 'Taxpayer Zip', 'Taxpayer County', 'Location Number',
       'Location Name', 'Location Address', 'Location City', 'Location State',
       'Location Zip', 'Location County', 'Inside/Outside City Limits',
       'TABC Permit Number', 'Responsibility Begin Date',
       'Responsibility End Date', 'Obligation End Date', 'Liquor Receipts',
       'Wine Receipts', 'Beer Receipts', 'Cover Charge Receipts',
       'Total Receipts'],
      dtype='object')

In [25]:
df.columns = df.columns.str.lower().str.replace(' ','_').str.replace('/','_')

In [26]:
df.isna().sum()

taxpayer_number                     0
taxpayer_name                       0
taxpayer_address                    0
taxpayer_city                       0
taxpayer_state                   1026
taxpayer_zip                     1026
taxpayer_county                     0
location_number                     0
location_name                       0
location_address                    0
location_city                       0
location_state                      0
location_zip                        0
location_county                     0
inside_outside_city_limits          0
tabc_permit_number                  0
responsibility_begin_date           0
responsibility_end_date       1696572
obligation_end_date                 0
liquor_receipts                     0
wine_receipts                       0
beer_receipts                       0
cover_charge_receipts               0
total_receipts                      0
dtype: int64

In [39]:
df.columns

Index(['taxpayer_number', 'taxpayer_name', 'taxpayer_address', 'taxpayer_city',
       'taxpayer_state', 'taxpayer_zip', 'taxpayer_county', 'location_number',
       'location_name', 'location_address', 'location_city', 'location_state',
       'location_zip', 'location_county', 'inside_outside_city_limits',
       'tabc_permit_number', 'responsibility_begin_date',
       'obligation_end_date', 'liquor_receipts', 'wine_receipts',
       'beer_receipts', 'cover_charge_receipts', 'total_receipts'],
      dtype='object')

In [27]:
df = df.drop(columns = ['responsibility_end_date','tabc_permit_number','location_state','location_number','taxpayer_number','taxpayer_name', 'taxpayer_address', 'taxpayer_city',
       'taxpayer_state', 'taxpayer_zip', 'taxpayer_county'])

In [28]:
df = df.dropna()

In [29]:
df.isna().sum()

taxpayer_number               0
taxpayer_name                 0
taxpayer_address              0
taxpayer_city                 0
taxpayer_state                0
taxpayer_zip                  0
taxpayer_county               0
location_number               0
location_name                 0
location_address              0
location_city                 0
location_state                0
location_zip                  0
location_county               0
inside_outside_city_limits    0
tabc_permit_number            0
responsibility_begin_date     0
obligation_end_date           0
liquor_receipts               0
wine_receipts                 0
beer_receipts                 0
cover_charge_receipts         0
total_receipts                0
dtype: int64

In [30]:
df.shape

(2947222, 23)

In [33]:
df.inside_outside_city_limits.value_counts()

Y    2715702
N     231520
Name: inside_outside_city_limits, dtype: int64

In [35]:
df.head()

,taxpayer_number,taxpayer_name,taxpayer_address,taxpayer_city,taxpayer_state,taxpayer_zip,taxpayer_county,location_number,location_name,location_address,...,location_county,inside_outside_city_limits,tabc_permit_number,responsibility_begin_date,obligation_end_date,liquor_receipts,wine_receipts,beer_receipts,cover_charge_receipts,total_receipts
0,32047970895,HONDURAS MAYA CAFE & BAR LLC,8011 HAZEN ST,HOUSTON,TX,77036.0,101,1,HONDURAS MAYA CAFE & BAR LLC,5945 BELLAIRE BLVD STE B,...,101,Y,MB817033,08/16/2012,07/31/2019,0,0,0,0,0
1,32049923835,"MERMAID KARAOKE PRIVATE CLUB, INC.",2639 WALNUT HILL LN STE 225,DALLAS,TX,75229.0,57,1,MERMAID KARAOKE PRIVATE CLUB,1310 W CAMPBELL RD STE 103,...,57,Y,N 837378,04/12/2013,08/31/2014,480,185,1374,0,2039
2,32034036304,FENG KAI CORPORATION,8427 BOULEVARD 26,N RICHLND HLS,TX,76180.0,220,1,JAPANESE GRILL,8427 BOULEVARD 26,...,220,Y,MB576670,05/01/2008,06/30/2016,1143,167,669,0,1979
3,14537211071,"THE HUTTO SMITHS, LLC",429 LITTLE LAKE RD,HUTTO,TX,78634.0,246,1,THE DOWNTOWN HALL OF FAME,205 EAST ST,...,246,Y,MB791778,12/06/2011,03/31/2018,12881,357,10447,0,23685
4,32019999229,"THE CROSSING AT FIDDLE CREEK, INC.",1620 W CEDAR ST,STEPHENVILLE,TX,76401.0,72,1,THE CROSSING AT FIDDLE CREEK INC,2004 W SWAN ST,...,72,Y,N 643163,10/26/2006,08/31/2008,4841,2413,4620,0,11874

In [38]:
df[df.taxpayer_city == 'SAN ANTONIO']

,taxpayer_number,taxpayer_name,taxpayer_address,taxpayer_city,taxpayer_state,taxpayer_zip,taxpayer_county,location_number,location_name,location_address,...,location_county,inside_outside_city_limits,tabc_permit_number,responsibility_begin_date,obligation_end_date,liquor_receipts,wine_receipts,beer_receipts,cover_charge_receipts,total_receipts
35,17428720902,MANDO'S RIVER SEAFOOD RESTAURANT INC,2610 JOHNSON GRASS,SAN ANTONIO,TX,78251.0,15,2,MANDO'S RIVER SEAFOOD RESTAURANT INC,2918 W COMMERCE ST,...,15,Y,MB650751,02/06/2007,06/30/2022,111,0,2304,0,2415
96,32049153466,JAMAICA JAMAICA CUISINE LLC,2026 AUSTIN HWY,SAN ANTONIO,TX,78218.0,15,3,JAMAICA JAMAICA CUISINE,6909 N LOOP 1604 E STE VC09A,...,15,Y,MB1083222,03/09/2020,04/30/2020,0,0,0,0,0
191,17422892665,"ORIGINAL CADILLAC BAR OF NUEVO LAREDO, INC.",20 WORTHSHAM DR,SAN ANTONIO,TX,78257.0,15,1,ORIGINAL CADILLAC BAR OF NUEVO LAREDO INC,212 S FLORES ST,...,15,Y,MB159568,11/30/1993,07/31/2010,28094,378,33238,0,61710
242,17426545970,"CB RESTAURANTS, INC.",9510 TIOGA DR STE 102,SAN ANTONIO,TX,78230.0,15,1,SUGARS,2731 NW LOOP 410,...,15,Y,MB437968,02/01/2001,10/31/2015,164240,3169,100933,0,268342
245,32008170998,JOHN WAYNE DOWNUM,PO BOX 15858,SAN ANTONIO,TX,78212.0,15,2,THE ANNEX,330 SAN PEDRO AVE,...,15,Y,MB409424,03/21/1997,10/31/2013,35051,439,17515,0,53005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947949,32037887364,"LD LIFT, INC.",101 PEREIDA ST,SAN ANTONIO,TX,78210.0,15,1,SOUTHTOWN 101,101 PEREIDA ST,...,15,Y,MB814536,07/25/2012,12/31/2022,42483,683,30851,0,74017
2948125,18106032016,CLUB SIRIUS LLC,228 LOSOYA ST,SAN ANTONIO,TX,78205.0,15,1,CLUB SIRIUS,228 LOSOYA ST,...,15,Y,MB544584,11/03/2003,12/31/2022,31394,12,12808,0,44214
2948172,10437598153,"LA HACIENDA DE LOS BARRIOS, LTD.",18747 REDLAND RD,SAN ANTONIO,TX,78259.0,15,1,LA HACIENDA DE LOS BARRIOS,18747 REDLAND RD,...,15,Y,MB560372,07/05/2004,12/31/2022,67646,3234,13204,0,84084
2948220,32047911139,"HARWOOD-COOK, LIMITED LIABILITY COMPANY",PO BOX 6834,SAN ANTONIO,TX,78209.0,15,2,THE S.A. COUNTRY SALOON,1134 W HILDEBRAND AVE,...,15,Y,MB818839,02/01/2021,12/31/2022,18092,79,9441,0,27612
2948229,32051554866,"ENCINITO, LLC",300 PASEO ENCINAL ST,SAN ANTONIO,TX,78212.0,15,1,CAMP COMFORT,601 WATER ST,...,130,N,MB1091042,06/12/2020,06/30/2022,0,0,0,0,0